@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,800;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;517;600;700&display=swap');


*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif,Helvetica;

}
.whole{
    position: relative;
    left:160px;
}

main{
    position: relative;
    width: 100%;
    height: 100vh;

    overflow-x: hidden;
}
.about{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	
	
}

.about-title{
	position: absolute;
	top:0;
	left: 0;
	padding: 60px;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	

}
.logo-about h2{
	position: relative;
	top:-20px;
    left:-20px;
	text-transform: uppercase;
	color: #fff;
letter-spacing: 2px;
font-weight: 800;
}

.about-toggle{
         


      position: relative;
    
	width: 60px;
	height: 60px;
	background-size: 30px;
	background-image: url(https://img.icons8.com/metro/26/000000/menu.png);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;

z-index: 1000;
	cursor: pointer;
	
          

}
.upper-about{
	position: absolute;
background-image: url('https://zeropark.com/blog/wp-content/uploads/sites/2/2020/04/Affiliate-Marketing-Work-From-Home-Kind-of-Job-Blog-Header.png');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	width:100%;
	opacity:1;
	height: 600px;
	overflow: hidden;
	

}


.logo-about h2:hover{
	letter-spacing: 6px;
    color:yellow;	
}
.title{
	text-transform: capitalize;
	position: relative;
	font-size: 2.5em;
	font-family: "Pacifico";
	font-weight: 400;
	color: #fff;
	text-align: center;
	letter-spacing: 2px;
	border-radius: 30px;
	background: rgb(0,0,0,.8);
	
	width: 700px;
	position: relative;
    top:170px;
    left:400px;
	padding: 10px;
	

	

}
.about-btn{
	position: relative;
	
display: inline-block;

top:260px;
left:650px;

}

.about-btn button{
	width:150px;
	padding: 8px 0px;
	border: none;
	outline: none;
	background-color:#fff;
	font-family: "Poppins";
	font-size: 1em;
	transition: 0.5s;
	border-radius: 100px;
	text-transform:uppercase;
	letter-spacing: 2px;
	font-weight:600;


}
.about-btn button:hover{
	letter-spacing: 6px;
}
.below-img{
	position: relative;
	display: flex;
	justify-content: center;
	top:600px;
	padding: 15px;
	word-spacing: 6px;
	text-transform: uppercase;

	height:50px;
	border-bottom:1px solid #948f6b;
	opacity: 0.6;
letter-spacing: 3px; 
overflow: hidden;

}
.text-about{
	position: absolute;
	top:800px;
	left: 0;
	max-width:800px;
	text-align: center;
	margin-left:300px;
	align-content: center;
	text-align: justify;


}
.about-text h1{
	position: relative;
	font-size: 2.4em;
	font-weight: 600;
	line-height: 4em;
	letter-spacing: 2px;


}
.about-text p{
	font-size: 1.5em;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	
	letter-spacing: 1px;
	width:670px;
}
.about-text p span{
	font-family:"Pacifico";
	font-weight: 50;
	letter-spacing: 1px;
	word-spacing: 1px;
	opacity: 0.6;

	
}
.about-text p span.style{
	font-size: 1.6em;
	font-family: "Dancing Script",cursive;
}
.why{
	line-height: 5em;
	padding: 18px;
	font-size: 1.4em;
	font-weight: 600;
	margin-top: 30px;
	letter-spacing: 3px;
	word-spacing: 5px;
	font-family: "Poppins",sans-serif;
overflow: hidden;
}
.why-text{
	font-size: 1.5em;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	opacity: 0.6;
	letter-spacing: 1px;
	width:670px;
	overflow: hidden;
}
.other-img{
	position: relative;
    top:70px;
    left:250px;
}
.other-img img{
	
	position: relative;
	
	border-radius: 100%;
	top:-60px;
	width:190px;
	height:170px;

}
.name-img{
	position: relative;
	font-size: 1.9em;
	text-align: center;
	padding-top: 30px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 300;
	padding-right: -20px;
    left:-50px;
    top:-10px;
	font-family: "Pacifico" ,sans-serif;
	transition: .8s;
line-height: 2.9em;
	transition:.9s;
	transition-delay: calc(0.2s * var(--i));

}
.name-img:hover{
	letter-spacing: 8px;
	transform: translateX(20px);
}
.img-text{
	position: relative;
	
	font-size: 1.5em;
	
	
opacity: .4;

}
.twitter-link{
	position: relative;
	font-size:1.7em;
	font-weight: 400;
	margin:100px;
	margin-right: 150px;
	width: 100vw;

}
.twitter-link a{
	text-decoration: none;
   color: #03a9f4;
   opacity: .7;
  margin-left: 100px;
   border:2px solid #03a9f4;
   padding:9px;
   border-radius: 100px;
   text-align: center;

}
.twitter-link a:hover{
	color:#fff;
	border:none;
	
	border-radius: none;
	background-color: #03a9f4;
	
	
	overflow: hidden;
	

}
.twitter-link a img{
	position: relative;
	display: none;
}
.twitter-link a:hover img{
	display:inline;
	position: relative;
	top:8px;
	left:300px;
	

	transition:.8s;
}
footer{
	position: absolute;


}
.about-lower{
	position: relative;
	
	width: 100%;
	height: 300px;

	

}
.about-link ul{
position: relative;
list-style: none;
left:90px;

}
.about-link li{
	float: left;
}
.about-link li a{
	position: relative;
	z-index: 1;
	text-decoration: none;
	color: #000;
opacity: 0.6;
	padding: 20px;
	font-size: 1.1em;
	font-weight: 500;
	overflow: hidden;

}
.about-link li a:hover{
	letter-spacing: 2px;
	color: #03a9f4;
	text-transform: lowercase;
}
.about-social{
	position: relative;
	top:70px;
	left: 200px;
	margin:0;
	padding: 0;

}
.about-social ul{
	list-style:none;
}
.about-social ul li{
	float:left;

}
.about-social li a{
	transform: scale(0.9);
	padding: 18px;
	overflow: hidden;



	
}
.about-social li img:hover{
	transition: .8s;
	transform: translateY(-30px);
}
.about-disclaimer{
	position: absolute;
	left:-460px;
	top:250px;
    background: hsl(54, 90%, 92%);
    width: 100vw;
    text-align: center;
    height: 60px;
    padding: 20px 0px;
	word-spacing: 6px;
	overflow: hidden;
}

.about-disclaimer span{
	color:#03a9f4;
	font-weight: 800;

}
.about-disclaimer span:hover{
	letter-spacing: 2px;
	
}

.about-toggle.active{
	position: relative;
	background-image: url('close.png');
	background-size: 23px;
	background-repeat: no-repeat;
	
	cursor: pointer;
	

}