@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

main{
    position: relative;
    max-width: 100%;
    height:100vh;
overflow: hidden;
}
.header{
    position: relative;
    top:0px;
    left:0px;
    }
.logo{
    position: relative;
    font-size: 1.3em;
    font-weight: 600;
    color: #fff;
    padding: 10px;
    z-index: 1000;
}
.left{
    position: relative;
    top:100px;
    left:50px;
    width:500px;

} 
img{
    position: relative;
    width: 600px;
    height:600px;
    left:-16px;
    top:-125px;
}
.right{
    position: relative;
    left:22em;
    top:-43em;
   font-size: .9em; 
    display: flex;
    z-index: 10000;
    align-items: center;
    flex-direction: column;
}
h1{
    position: relative;
    font-size: 4.7em;
    line-height: 90px;
    left:-.6em;
}
p{
    position: relative;
    top:30px;
    left:-5em;
    font-weight: 600;
}
 input{
    position: relative;
    border: none;
    text-indent: 10px;
    outline: none;
     background: transparent; 
     font-size: 1.2em;
    width: 450px;
    top:65px;
    color: #7D0ed6;
    border-bottom:1px solid #7D0ed6 ;
    left: -30px;
    margin: 30px 0px;
}
button{
    position: relative;
    top:110px;
    left:-20px;
    border: none;
    outline: none;
    display: inline-block;
    width: 180px;
    font-size: 1.8em;
    background:#04DEC0 ;
    padding: 5px 20px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #04DEC0;
    border-radius: 30px;
} 
.snackbar > div{
    background-color: #000;
    color: #fff;
    min-width: 180px;
    padding: 15px 30px;
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snackbar{
    position:fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    transition: bottom 0.5s opacity 0.6s;
}
.snackbar.show{
    bottom: 100px;
    opacity: 1;
    pointer-events: all;

}