@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,800;0,900;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;517;600;700&display=swap');


*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif,Helvetica;

}
.upper{
    position: relative;
    top:0;
    left:0;
    
    background: url('/img/lock.png');
    width: 100%;
    height: 550px;
   mix-blend-mode: overlay;
}
main{
    position: relative;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
   
}
.header{

    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
   
}
.logo{
    position: relative;
    font-size: 0.8em;
    opacity: .7;
    left: 60px;
    cursor: pointer;
}
.logo span{
    color: #46ADA8;
}
.nav{
    position: relative;
    left:-100px;
    width: 500px;
}
ul{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
 ul li{
     list-style: none;
 }
 ul li a{
     position: relative;
     text-decoration:none ;
     font-size: 1.2em;
    color: #000;
    font-weight: 500;
 }

 
 .feature{
     position: relative;
     width: 100%;
     height: 200px;
     background-color: #F8FAFE;
 }
 .feature .text{
     position: relative;
     text-align: center;
     z-index: 100000;
     font-size: 1.4em;
     top:50px;
     font-weight: 400;
 }
.feature a{
    position: relative;
    display: inline-block;
    padding: 5px 30px;
    color: #fff;
    top:-400px;
    font-weight: 600;
    font-size: 1.3em;
    background-color: #f59740;
    border: 1px solid #f59740;
    border-radius: 50px;
    width: 230px;
    text-decoration: none;
}
.feature .login{
    position: relative;
    left:-50px;
    width:210px;
    border:none;
    background: #fff;
    color: #f59740;
}
.content{
    position: relative;
    font-size: 2em;
    text-transform: capitalize;
    font-weight: 600;
    top:-550px;
    color: #fff;
    left:350px;
}