
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap');

*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif,'Helvetica';


}

video{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    object-fit: cover;
    left:0;
    top: 0;

    opacity: 0.7;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    mix-blend-mode: overlay;
  }
main{
    position: relative;
    width: 100%;
    height:100vh;
    overflow: hidden;

}
.header{
  
  
   
    position: relative;
    display: flex;
    max-width:100%;
    height:70px;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo{

    font-size: 4em;
  

    position: relative;
    top:30px;
  left:40px;
  color: #fff;
  font-weight: 900;
  


}


.nav{
    position: absolute;
    top:710px;
    left: 40px;
    
    
}
.nav ul{
    position: relative;
    display: flex;
 

}
.nav ul li{
    list-style: none;
}
.nav ul li a{
    position: relative;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 20px 30px;
    right:30px;
}

.nav ul li a:hover{
    letter-spacing: 1px;
    text-transform: lowercase;
    text-decoration: underline;
}

.section{
    position: relative;
    max-width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content{
    position: relative;
    color: #fff;
    width:1000px;
    height: 500px;
    top:120px;
    left:120px;
}
.heading{
    position: relative;
    font-size: 2.5em;
    letter-spacing: 2px;
    line-height: 80px;
    font-weight: 900;
    color: yellow;
}
.content p{
    position: relative;
    font-size: 1.5em;
    width: 500px;
    top:30px;
   

}
.content a{
    text-decoration: none;
    position: relative;
    background:#0A60B1;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5em;
   transform: translateY(50px);
    letter-spacing: 3px;
    text-transform: uppercase;
    top:10px;
    color: #fff;
    font-weight: 500;
}
.content a:hover{
    font-size: 1.5em;
    letter-spacing: 10px;
}
.block{
    position: relative;
    width:430px;
    height:550px;
    background: #ECDADA;
    border-radius: 20px;
    overflow: hidden;
   right: 70px;
   top:70px;
}

.form{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.person_img{
    position: absolute;
   
    top: 0;
    left: 0;
    
    
}
.person_img img{
    position: absolute;
    width: 70px;
    left:180px;
    top:50px;
    height: 70px;
   
}
input{
    position: relative;
    top:120px;
    width:300px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    font-size: 1em;
}
.pass{
    position: relative;
    top:163px;
}
.form a{
    position: relative;
    top:183px;
    left:100px;
    
}
.form button{
    position: relative;
    top:260px;
    left: -50px;
    width: 200px;
    padding: 12px 25px;
    font-size: 1.2em;
    border-radius: 15px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    display: inline-block;
    border: none;
    background: rgb(10,96,177);
    outline: none;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }